textarea {
  min-height: 200px;
}
th {
  text-align: right;
}
td {
  padding-left: 10px;
}

.buttons {
  margin-top: 8%;
}
#reply {
  margin-left: 15%;
  margin-right: 15%;
}

/* ***********************  New Style  **************************** */

/**************************CustomProperties**********************/
:root {
  --first-color: #001a83;
  --first-alpha-color: rgba(0, 26, 131, 0.75);
  --first-beta-color: #3d509f;
  --white-color: #ffffff;
  --black-color: #000000;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-alpha-color: rgba(0, 0, 0, 0.3);
  --black-alpha-color2: rgba(0, 0, 0, 0.5);
  --gray-color: #ccc;
  --gray-dark-color: #555;
  --gray-light-color: #f3f3f3;
  --link-color: #509ee3;
  --title-color: #333;
  --text-color: #222;
  --font: "Raleway", sans-serif;

  --max-width: 1200px;
  --header-height: 4rem;
  --search-height: 3rem;
}

/*****************************Reset*****************************/
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 32px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color);
  background-color: var(--gray-light-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: all ease-out;
}

a:hover {
  opacity: 0.75;
}

h1 {
  margin: 0;
  font-size: 2.9rem;
}

h2 {
  margin: 0;
  font-size: 2rem;
}

h3 {
  margin: 0;
  font-size: 1.5rem;
}

h4 {
  margin: 0;
  font-size: 1.25rem;
}

h5 {
  margin: 0;
  font-size: 1rem;
}

h6 {
  margin: 0;
  font-size: 0.85rem;
}

img {
  max-width: 100%;
  height: auto;
}

p,
input {
  line-height: 1.6;
  font-size: 1.3rem;
}

.header {
  position: fixed;
  padding: 0.5rem 1rem;
  width: 100%;
  height: var(--header-height);
  background-color: var(--first-color);
  color: var(--white-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.header .logo {
  width: 10rem;
}

.header .logo svg {
  width: 100%;
  height: 100%;
}
.header .logo-user {
  background-color: var(--link-color);
  width: 3rem;
  height: 2rem;
  border-radius: 50%;
  text-align: center;
  padding-top: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

.container {
  padding: var(--header-height) 1rem;
  padding-bottom: 0;
}

.register > h2 , .login > h2 {
  text-align: center;
  padding-top: 1.5rem;
}

.register, .login {
  padding-top: 15vh ;
} 
.register .form-group, .login .form-group {
  text-align: center;
  padding-bottom: 1.5rem;
}
.register .form-control, .login .form-control {
  text-align: center;
  width: 16rem;
  height: 2rem;
  font-family: var(--font);
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--white-color);
  border-radius: 15px;
  border-style: none;
  outline: none;
}

.space-bottom {
  height: var(--header-height);
}

input:focus::placeholder {
  color: transparent;
}

.btn-next {
  background-color: var(--first-color);
  color: var(--white-color);
  height: 1.5rem;
  width: 3.5rem;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  font-family: var(--font);
}

.btn-next:hover {
  cursor: pointer;
}

.form {
  margin: 25px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  width: 16rem;
}

.link-account {
  margin: 25px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  width: 16rem;
}

menu {
  margin: 0;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 800;
  padding: 0;
  width: 100%;
  height: var(--header-height);
  background-color: transparent;
  display: flex;
}
.half_back_menu {
  margin: 0;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 800;
  background-color: var(--first-beta-color);
  height: var(--header-height);
  width: 100%;
}
#sep_menu1,
#sep_menu2,
#sep_menu3,
#sep_menu4,
#sep_menu5 {
  z-index: 800;
  height: var(--header-height);
  background-color: var(--first-beta-color);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#sep_menu1 {
  border-top-left-radius: 0;
}
#sep_menu5 {
  border-top-right-radius: 0;
}
#back_sep_menu {
  z-index: 500;
  width: 2vw;
  height: var(--header-height);
  background-color: var(--gray-light-color);
}
menu div svg {
  margin: auto;
  height: 3rem;
  width: 3rem;
}
a > h3 {
  display: none;
}


#inbox,
#archived,
#sent,
#compose {
  border-radius: 0 0 15px 15px;
  width: 22.5vw;
  height: calc(var(--header-height) - 25px);
  z-index: 990;
  cursor: pointer;
}

#inbox:hover,
#archived:hover,
#sent:hover,
#compose:hover {
  opacity: 1;
}

#inbox:hover svg,
#archived:hover svg,
#sent:hover svg,
#compose:hover svg {
  opacity: 0.5;
  transition: 0.7s;
}

#email {
  padding: 0.5rem 0 0.5rem 0;
  position: static;
  border: none;
  display: flex;
  justify-content: space-between;
}
#email #left-content {
  cursor: pointer;
  width: 80vw;
  display: flex;
}

#email #left-content svg {
  height: 2.5rem;
  width: 2.5rem;
  margin: auto 0;
}
#email #sender-and-subject {
  margin-left: 5%;
}

#first_column {
  font-size: 1.7rem;
}

#second_column {
  padding-left: 15px;
  font-size: 1.5rem;
}

#time-and-archive {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 3rem;
}

.archive_svg, .unarchive_svg {
  cursor: pointer;
  width: 1.7rem;
  height: 1.7rem;
}

.btns{
  display: flex;
  justify-content: start;
}
/*************************Modal*********************/

.modal-logout {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--black-alpha-color);
  opacity: 0;
  pointer-events: none;
  overflow-x: hidden;
  transition: 0.5s;
}

.modal-logout-content {
  width: 600px;
  height: 300px;
  margin: 20vh auto;
  background-color: var(--gray-light-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

.modal-logout-content h3 {
  display: block;
  text-align: center;
  padding-top: 8px;
}

.btn {
  padding: .7rem;
  height: 3rem;
  width: 8rem;
  user-select: none;
  white-space: pre;
  align-items: flex-start;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  color: -internal-light-dark(black, white);
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

/******************Search******************/
.search {
  position: fixed;
  top: var(--header-height);
  left: 0;
  right: 0;
  background-color: var(--white-color);
  height: var(--search-height);
  width: 90vw;
  margin: 1rem 3.2%;
  border-radius: 40px;
  border: var(--gray-dark-color);
  border-style: solid;
  border-width: 1px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.search-text {
  padding: 7px;
  width: 85%;
  background-color: transparent;
  border: none;
}

.search-text:focus {
  outline: none !important;
}

#submitSearch {
  margin-top: 4px;
  margin-right: 5px;
}

#submitSearch svg {
  width: 2rem;
  height: 2rem;
}

#search::-webkit-search-cancel-button{
  display:none;
}

#submitSearch:hover {
  cursor: pointer;
}

.pagination_buttons {
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 0.7rem;
  width: 20rem;
  display: flex;
  justify-content: space-around;
}

#arrow-first-page,
#arrow-prev-page,
#arrow-next-page,
#arrow-last-page {
  background-color: transparent;
  border: none;
}
#arrow-first-page svg,
#arrow-prev-page svg,
#arrow-next-page svg,
#arrow-last-page svg {
  height: 2rem;
  width: 2rem;
}

/* ********************* EMAIL VIEW ************************* */

.email_view{
  height: 90vh; 
  margin-top: 1rem;
}
.btn-svg{
  margin:0 .5rem 0 0 !important;
  height: 3rem;
  width: 8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.btn svg{
  height: 1.7rem;
  width: 1.7rem;
}

.email-details {
  display: grid;
  margin: 1rem 0 3rem 0;
  grid-template-columns: 5rem 60% 25%;
  grid-auto-rows: 2rem;
  column-gap: 1rem;
  row-gap: .5rem;
}

.email-details .b-small {
  color: var(--first-color);
  text-align: right;
  font-weight: bold;
  margin:auto 0;
}

.email-details p {
  margin:auto 0;
}

.email-details .email-date {
  text-align: right;
}
.email-details .email-recipients, .email-details .email-subject{
  grid-column-start: 2;
  grid-column-end: 4;
}

/* ********************* COMPOSE VIEW ************************* */

#compose-view{
  height: 80vh;
  margin-top: 1rem;
}

.compose-details {
  display: grid;
  margin: 1rem 0 3rem 0;
  grid-template-columns: 5rem 1fr;
  grid-auto-rows: 2rem;
  grid-auto-rows: 2rem;
  row-gap: .5rem;
}

.compose-details .b-small {
  color: var(--first-color);
  text-align: right;
  font-weight: bold;
  margin:auto 0;
}

.compose-details div {
  margin:auto 0 auto 1rem;
}


.compose-details #compose-body{
  grid-column-start: 1;
  grid-column-end: 3;
}

#testuser, #compose-recipients, #compose-subject{
  width: 100%;
  border-radius: 1rem;
  border-width: 0;
  padding: 0 .7rem; 
}
#compose-body{
  height: 50vh;
  resize: none;
  border-radius: 1rem;
  border-width: 0;
  padding: .7rem; 
  font-family: var(--font);
  line-height: 1.6rem;
  font-size: 1.3rem;
}


@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 16px;
  }

  .header .logo {
    margin-left: 25px;
  }

  .inbox_class {
    height: 45vh;
    margin-bottom: 70px;
  }

  menu {
    display: block;
    width: 14rem;
    height: 100%;
    position: fixed;
    top: var(--header-height);
    padding-top: 11px;
    flex-direction: column;
    background-color: transparent;
  }

  .half_back_menu {
    display: block;
    width: 14rem;
    height: 100%;
    position: fixed;
    top: var(--header-height);
    margin: 0;
    left: 0;
    bottom: 0;
    z-index: 800;
    background-color: var(--first-beta-color);
  }
  #sep_menu1,
  #sep_menu2,
  #sep_menu3,
  #sep_menu4,
  #sep_menu5 {
    z-index: 800;
    height: 100%;
    width: 100%;
    background-color: var(--first-beta-color);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0;
  }
  #sep_menu1 {
    border-top-right-radius: 0;
  }
  #sep_menu5 {
    border-bottom-right-radius: 0;
  }
  #back_sep_menu {
    z-index: 500;
      height: 3vh;
      width: 100%;
    background-color: var(--gray-light-color);
  }
  menu a {
    display: block;
    height: 50px;
    width: 80%;
    padding-top: 4px;
    padding-left: 1rem;
    margin: 0 1rem;
  }

  a > div {
    display: inline-block;
    vertical-align: middle;
  }

  menu div svg {
    width: 2.5rem;
    height: 2.5rem;
  }

  a > h3 {
    display: inline-block;
    vertical-align: middle;
  }

#inbox,
#archived,
#sent,
#compose {
  border-radius: 15px 0 0 15px;
  width: calc(90%);
  margin:0 0 0 10%;
  height: 3rem;
  z-index: 990;
  cursor: pointer;
}

#inbox:hover h3,
#archived:hover h3,
#sent:hover h3,
#compose:hover h3 {
  opacity: 0.5;
  transition: 0.7s;
}

.container {
  margin-left: 14rem;
  padding-left: 20px;
  padding-top: 0.3rem;
}

#email {
  padding: 0.3rem 0;
}

#email #sender-and-subject {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#email #left-content svg {
  height: 2.5rem;
  width: 2.5rem;
}

.email_view{
  margin-top: calc(var(--header-height) + 1rem);
}
#first_column {
  width: 40%;
  font-size: 1.2rem;
}

#second_column {
  width: 50%;
  font-size: 1rem;
}

#time-and-archive {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 10rem;
}

#time-and-archive #third_column {
  margin-right: 10px;
}

.modal-logout-content {
  width: 300px;
  height: 130px;
}
#compose-view{
  margin-top: calc(var(--header-height) + 1rem);
}
.search {
  position: fixed;
  margin-left: 20vw;
  top: 0;
  width: 70%;
  margin-top: 8px;
}

.search-text {
  padding-left: 0;
}
#submitSearch {
  margin-right: -10px;
}

.pagination_buttons {
  margin-top: 63px;
  margin-bottom: 0;
}
}